<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HealthMe - Profiles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile/style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div class="container">
        <h2>Profiles</h2>
        <label for="">
            <p><strong>First Name:</strong> {{ user.FirstName }}</p>
        </label>
        <p><strong>Last Name:</strong> {{ user.LastName }}</p>
        <p><strong>Age:</strong> {{ user.Age }}</p>
        <p><strong>Height:</strong> {{ user.Height }}</p>
        <p><strong>Weight:</strong> {{ user.Weight }}</p>
        <p><strong>Sex:</strong> {{ user.Sex }}</p>
        <p><strong>BMI:</strong> {{ user.BMI }}</p>
        <a method='POST' href="{{ url_for('edit_profile') }}"><button>Edit Data</button></a>
        <a href="/home"><button>Kembali ke Beranda</button></a>
        <a href="/logout" class="btn logout"><button>Logout</button></a>
    </div>
</body>
</html>
