<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>HealthMe - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}">
</head>
<body>
    <div class="header">
        <span>www.healthme.com</span>
        <div class="nav-links">
            <a href="/profile">Profile</a>
            <a href="/activity">Your Activity</a>
            <a href="/about us">About Us</a>
            <a href="/foods">Diets</a>
        </div>
    </div>
    <h2>HealthMe</h2>
    <span>Get physical activity and food recommendations that suitable for your needs</span>
    <div class="recommendation-box">
        <h3>Kategori Anda: <span class="category">{{ category }}</span></h3>
        <p class="message">{{ message }}</p>
    </div>
</body>
</html>
