<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>HealthMe - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}">
</head>
<body>
    <div class="header">
        <img width="100px" src="{{ url_for('static', filename='assets/HealthMe_darkteal.png') }}" alt="">
        <span>www.healthme.com</span>
        <div class="nav-links">
            <a href="/profile">Profile</a>
            <a href="/schedule">Schedule</a>
            <a href="/activity">Your Activity</a>
            <a href="/about us">About Us</a>
            <a href="/foods">Diets</a>
        </div>
    </div>
    <img class="dots" src="{{ url_for('static', filename='assets/dots.png') }}" alt="">
    <div class="container">
        <h1>HealthMe</h1>
        <span class="desc">Get physical activity and food recommendations that suitable for your needs</span>
        <div class="circle"></div>
        <div class="image"><img src="{{ url_for('static', filename='assets/doctor_male_patient.png') }}" alt=""></div>
            <span class="category">Your Category: <strong>{{ category }}</strong></span>
            <span class="message">{{ message }}</span>
    </div>
    <div class="quarter-circle"></div>
    
</body>
</html>
