* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  /* padding-bottom: 20px;
  padding-left: 15%; */
}

.nav-links {
  position: absolute;
  right: 5%;
}

.nav-links a {
  margin-left: 20px;
  color: #0e4d57;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #12666c;
  text-decoration: underline;
}
