* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}

.nav-links {
  position: absolute;
  right: 5%;
}

.nav-links a {
  margin-left: 20px;
  color: #0e4d57;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #12666c;
  text-decoration: underline;
}

.quarter-circle {
  position: absolute;
  width: 130px;
  height: 130px; 
  bottom: 0;
  left: 0;
  border-top-right-radius: 100%;
  background-color: #3c99ae;
}

.circle {
  position: absolute;
  width: 650px;
  height: 650px; 
  bottom: 90px;
  right: 220px;
  border-radius: 100%;
  background-color: #3c99ae;
}

.image {
  z-index: 5;
  position: absolute;
  width: 56%;
  height: auto;
  bottom: 0;
  right: 150px;
}

.image img {
  width: 100%;
  height: 100%;
}