* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.outter-container {
  display: flex;
  /* justify-content: space-between; */
  border: 6px solid #3a9ab0;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.button-container {
  position: relative;
  justify-self: center;
  align-items: center;
}

button {
    background-color: #3c99ae; /* Teal background */
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 51px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2a7f8c; /* Darker teal on hover */
}

button:active {
    background-color: #0e4d57; /* Even darker teal on click */
}

.logo-container {
  width: 100%;
  background: linear-gradient(to bottom, #3c99ae, #124e5b);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 2%;
}

.logo-container {
  max-width: 30%;
}

.logo img {
  width: auto;
  height: 200px;
} 

.form-container {
  width: 60%;
  padding: 60px 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 6px solid #0e4d57;
  border-radius: 30px;
  font-size: 18px;
}

.input-container {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.input-container span {
 font-size: 20px;
 width: 180px;
 font-size: 20px;
 color: #3a9ab0;
 font-weight: bold;
}

.h1 {
  font-size: 60px;
  text-align: left; /* Aligns HealthMe to the left */
  width: 100%;
}

.bottom-link {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
}

h2 {
  font-size: 40px;
}

.description {
  font-size: 20px;
}

h1, .sign-up, span {
  color: #3c99ae;
}

.sign-up{
  font-weight: bold;
  text-decoration: none;
}

h1, .h1 {
  margin: 0 0 60px 0; /* Only bottom spacing */
}

.sign-up:hover {
 color: #2a7f8c; /* Darker teal on hover */
}