<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>HealthMe - Foods</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='foods/style.css') }}">
</head>
<body>
    <div class="header">
        <div class="back-symbol"><a href="/home"><img src="{{ url_for('static', filename='assets/back_button.png') }}" alt=""></a></div>
        <h1>Diet Recommendation</h1>
        <div class="nav-links">
            <a href="/profile">Profile</a>
            <a href="/schedule">Schedule</a>
            <a href="/activity">Your Activity</a>
            <a href="/about us">About Us</a>
        </div>
    </div>
    <img class="dots" src="{{ url_for('static', filename='assets/dots.png') }}" alt="">
    <div class="activity-card-container">
        <span class="title">Diets according to body weight category: <strong>{{category}}</strong></span>
        {% for item in foods %}
        <div class="activity-card">
            <img src="{{ url_for('static', filename=item.image) }}" alt="foods image">
            <div class="activity-desc">
                <div class="activity-title">
                    <span><strong>{{ item.title1 }}: </strong>{{ item.desc1 }}</span>
                </div>
                <div class="activity-title">
                    <span><strong>{{ item.title2 }}: </strong>{{ item.desc2 }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="quarter-circle"></div>
    <img class="elipse" src="{{ url_for('static', filename='assets/elipse.png') }}" alt="">
</body>
</html>
