<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthMe - Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup/style.css') }}">
</head>
<body>
    <div class="outter-container">
        <div class="logo-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/HealthMe.png') }}" class="icon" alt="HealthMe Logo">
            </div>
            <h2>HealthMe</h2>
        </div>
        <div class="form-container">
            <h1>Sign Up</h1>
            <form method="POST" class="signup-form">
                <div class="input-container">
                    <span>Email: </span><input type="email" name="email" required>
                </div>
                <div class="input-container">
                    <span>Password: </span><input type="password" name="password" required>
                </div>
                <div class="input-container">
                    <span>Confirm Password: </span><input type="password" name="confirm_password" required>
                </div>
                <div class="button-container">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
            {% if error %}<p style="color:red; font-weight:bold;">{{ error }}</p>{% endif %}
            <p>Already have an account? <a class="sign-up" href="/login">Login</a></p>
        </div> 
    </div>
</body>
</html>